name: Cpress Test

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
    - run: npm install --save-dev start-server-and-test
    - run: npm install -g yarn
    - run: yarn --version
    - run: yarn cy:run

